---
layout: default
title: "Stream"
permalink: /stream
---

<h1>Stream</h1>

<p style="font-size: small;">Things I found interesting or otherwise felt like sharing. Similar to a Twitter feed.<br/>Cross-posted to <a href="https://twitter.com/colette_snow" rel="me" class="external">Twitter</a>, selectively to <a href="https://linuxrocks.online/@colette" rel="me" class="external">Mastodon</a> (tech/linux) and <a href="feed.xml">RSS</a> / <a href="/stream.json">JSON</a>.</p>

{% for post in paginator.posts limit: 10 %}

    <div class="micro-post">
        {{ post.content }}

        {% if post.link %}
            {% if post.type == "video" %}
                <p><iframe width="560" height="315"
                src="https://www.youtube.com/embed/{{ post.video_id | uri_escape }}" frameborder="0" 
                allowfullscreen></iframe></p>
            {% else %}
                <div class="link">
                    <p><a href="{{ post.link.link_url }}" target="_blank">{{ post.link.link_title }}</a></p>
                </div>
            {% endif %}
        {% endif %}

        <a href="{{ post.url | prepend: "stream/view#!" | absolute_url }}" class="micro_date" role="permalink">{{ post.date | date_to_long_string }}</a>
    </div>

{% endfor %}

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">
        Previous
      </a>
    {% else %}
      <span class="previous">Previous</span>
    {% endif %}
    <span class="page_number ">
      Page: {{ paginator.page }} of {{ paginator.total_pages }}
    </span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next</a>
    {% else %}
      <span class="next ">Next</span>
    {% endif %}
  </div>